name: Test Lighthouse score
on: [pull_request]

jobs:
  lighthouse-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - run: npm install
      - name: Run Lighthouse
        uses: foo-software/lighthouse-check-action@master
        id: lighthouseCheck
        with:
          urls: 'https://${{github.event.pull_request.head.ref}}--${{github.event.pull_request.head.repo.name}}--${{ github.event.pull_request.user.login }}.hlx.page/'
      - name: Handle Lighthouse Check results
        uses: foo-software/lighthouse-check-status-action@master
        with:
          accessToken: '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'
          prCommentEnabled: true
          lighthouseCheckResults: ${{ steps.lighthouseCheck.outputs.lighthouseCheckResults }}
          minAccessibilityScore: "90"
          minPerformanceScore: "90"
